.footer {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  margin-top: 60px;
}

/* GRID */

.footer-grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  gap: 70px;
  padding: 15px 50px;
  align-items: flex-start;
}

.footer-logo img {
  height: 80px;
}

/* LINKS */

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-col span {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.footer-col span:hover {
  color: #F26A21;
}

/* SOCIAL */

.footer-social p {
  margin-bottom: 12px;
  font-size: 15px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons svg {
  background: #F26A21;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  transform: scale(1.1);
}

/* BOTTOM */

.footer-bottom {
  border-top: 1px solid #ddd;
  padding: 16px 0;
}

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

/* DEVELOPER */

.dev-toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.dev-icon {
  font-size: 18px;
  color: #555;
}

.dev-toggle:hover .dev-icon {
  color: #F26A21;
}

.dev-info {
  margin-top: 6px;
  font-size: 13px;
  color: #444;
}

/* COPYRIGHT */

.copyright {
  display: flex;
  align-items: center;
  gap: 6px;
}

.admin-settings-icon {
  cursor: pointer;
  color: #555;
  transition: 0.3s;
}

.admin-settings-icon:hover {
  color: #F26A21;
}

/* MOBILE */

@media (max-width:600px) {

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 15px 20px;
  }

  .footer-bottom-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

}